.wrapFooter {
    width: 100%;
    aspect-ratio: 6;
    background-color: #363130;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -3px;

}

.commonStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    font-size: 10px;
}

.firstCol {}

.secondCol {}

.thirdCol {}

.fourthCol {}

.btnCall {
    width: 120px;
    height: 32px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: #363130;
    color: #FFFFFF;
}

.iconsFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}