.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 6%;
}
.logo {
  width: 200px;
  height: 40px;
}
.workHour {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}
.maket {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.phoneWrapper {
  display: flex;
}
.phoneAva {
  align-self: center;
}
.phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  height: 20px;
  padding-top: 4px;
}
.iconsPhone {
  padding-right: 10px;
}
.btn_order {
  background-color: green;
  border: none;
  color: white;
  padding: 8px 16px 8px 16px;
  height: 50px;
  font-size: 10px;
  border-radius: 6px;
  box-shadow: 0px 4px 5px #319f1c;
  font-family: "Raleway";
  font-style: normal;
}
.boxCircle{
    border: 4px solid #E4E4E4;
    border-radius: 50%;
}
