body {
  background-image: url(../../assets/images/image2.png);
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: 100% 0%;


}
.wrapMain {
  width: 50%;
}
.flexIcons {
  display: flex;
}
.title {
  padding-top: 5%;
  font-family: Montserrat;
  font-size: 28px;
  line-height: 52px;
  line-height: 112%;
  vertical-align: Top;
  font-weight: 900;
}
.mainCover {
    padding-top: 5%;
    font-family: Raleway;
    font-size: 18px;
    line-height: 24px;
    /* line-height: 112%; */
    vertical-align: Top;
}
.article {
}
.portfolio {
}
.video {
}
